aula do dia 22/05
aluna:Nadja Ester 
turma: 036.

In [20]:
 for patinhos in [5,4,3,2,1]:

    if (patinhos > 1):
        print(patinhos, 'patinhos foram passear, além das montanhas para brincar, a mamae gritou: qua, qua, qua,qua mas só', patinhos - 1, 'patinhos voltaram de lá')
    else:
        print(patinhos,'patinho foi passear, além das montanhas para brincar, a mamae gritou: qua, qua, qua,qua mas só', patinhos - 1, 'patinho voltou de lá')

5 patinhos foram passear, além das montanhas para brincar, a mamae gritou: qua, qua, qua,qua mas só 4 patinhos voltaram de lá
4 patinhos foram passear, além das montanhas para brincar, a mamae gritou: qua, qua, qua,qua mas só 3 patinhos voltaram de lá
3 patinhos foram passear, além das montanhas para brincar, a mamae gritou: qua, qua, qua,qua mas só 2 patinhos voltaram de lá
2 patinhos foram passear, além das montanhas para brincar, a mamae gritou: qua, qua, qua,qua mas só 1 patinhos voltaram de lá
1 patinho foi passear, além das montanhas para brincar, a mamae gritou: qua, qua, qua,qua mas só 0 patinho voltou de lá

In [40]:
 for elefante in [1,2,3,4,5,6,7,8,9,10]:
    n = 'incomodam'
    if i ==10:
        print(i,'elefante incomoda muita gente', i, 'elefantes' n*1, 'muito mais')
    elif i>
        print(elefante +1,'elefante incomoda muita gente', elefante+1, 'elefantes incomodam, incomodam muito mais')
    else:
       print(elefante +1,'elefante incomoda muita gente', elefante+1, 'elefantes incomodam, incomodam muito mais')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (915774701.py, line 4)

In [68]:
for elefante in [1, 2, 3, 4, 5, 6, 7, 8, 9,]:
  if (elefante == 1):
    print(elefante, "elefante incomoda muita gente," , elefante+1 , "elefantes", elefante*  "incomodam, ", "incomodam muito mais.")
  else:
    print(elefante, "elefantes incomodam muita gente," , elefante+1 , "elefantes", elefante* "incomodam, ", "incomodam muito mais.")

1 elefante incomoda muita gente, 2 elefantes incomodam,  incomodam muito mais.
2 elefantes incomodam muita gente, 3 elefantes incomodam, incomodam,  incomodam muito mais.
3 elefantes incomodam muita gente, 4 elefantes incomodam, incomodam, incomodam,  incomodam muito mais.
4 elefantes incomodam muita gente, 5 elefantes incomodam, incomodam, incomodam, incomodam,  incomodam muito mais.
5 elefantes incomodam muita gente, 6 elefantes incomodam, incomodam, incomodam, incomodam, incomodam,  incomodam muito mais.
6 elefantes incomodam muita gente, 7 elefantes incomodam, incomodam, incomodam, incomodam, incomodam, incomodam,  incomodam muito mais.
7 elefantes incomodam muita gente, 8 elefantes incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam,  incomodam muito mais.
8 elefantes incomodam muita gente, 9 elefantes incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam,  incomodam muito mais.
9 elefantes incomodam muita gente, 10 elefantes incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam,  incomodam muito mais.

In [67]:
for elefante in [10,9,8,7,6,5,4,3,2,1]:
  if (elefante == 1):
    print(elefante, "elefante incomoda muita menos")
  else:
    print(elefante, "elefantes incomodam muita gente," , elefante-1 , "elefantes", elefante* "incomodam, ", "muito menos.")

10 elefantes incomodam muita gente, 9 elefantes incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam,  muito menos.
9 elefantes incomodam muita gente, 8 elefantes incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam,  muito menos.
8 elefantes incomodam muita gente, 7 elefantes incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam,  muito menos.
7 elefantes incomodam muita gente, 6 elefantes incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam,  muito menos.
6 elefantes incomodam muita gente, 5 elefantes incomodam, incomodam, incomodam, incomodam, incomodam, incomodam,  muito menos.
5 elefantes incomodam muita gente, 4 elefantes incomodam, incomodam, incomodam, incomodam, incomodam,  muito menos.
4 elefantes incomodam muita gente, 3 elefantes incomodam, incomodam, incomodam, incomodam,  muito menos.
3 elefantes incomodam muita gente, 2 elefantes incomodam, incomodam, incomodam,  muito menos.
2 elefantes incomodam muita gente, 1 elefantes incomodam, incomodam,  muito menos.
1 elefante incomoda muita menos

In [112]:
for mariana in [1,2,3,4,5,6,7,8,9,10]:
   if(mariana==1):
      print('marina conta', mariana, 'marina conta', mariana,'é 1, é 1, é ana, viva mariana, viva mariana')
   else: 
      print('marina conta', mariana + 1, 'marina conta', mariana + 1, *'é', mariana[:2], 'é ana, viva mariana, viva mariana')

marina conta 1 marina conta 1 é 1, é 1, é ana, viva mariana, viva mariana

TypeError: 'int' object is not subscriptable

In [109]:
for mariana in [1,2,3,4,5,6,7,8,9,10]:
    print('marina conta', mariana,',' 'marina conta', mariana,)
    for num in range(1,mariana+1):
        print('é', num)
    print('é ana, viva mariana, viva mariana')

marina conta 1 ,marina conta 1
é 1
é ana, viva mariana, viva mariana
marina conta 2 ,marina conta 2
é 1
é 2
é ana, viva mariana, viva mariana
marina conta 3 ,marina conta 3
é 1
é 2
é 3
é ana, viva mariana, viva mariana
marina conta 4 ,marina conta 4
é 1
é 2
é 3
é 4
é ana, viva mariana, viva mariana
marina conta 5 ,marina conta 5
é 1
é 2
é 3
é 4
é 5
é ana, viva mariana, viva mariana
marina conta 6 ,marina conta 6
é 1
é 2
é 3
é 4
é 5
é 6
é ana, viva mariana, viva mariana
marina conta 7 ,marina conta 7
é 1
é 2
é 3
é 4
é 5
é 6
é 7
é ana, viva mariana, viva mariana
marina conta 8 ,marina conta 8
é 1
é 2
é 3
é 4
é 5
é 6
é 7
é 8
é ana, viva mariana, viva mariana
marina conta 9 ,marina conta 9
é 1
é 2
é 3
é 4
é 5
é 6
é 7
é 8
é 9
é ana, viva mariana, viva mariana
marina conta 10 ,marina conta 10
é 1
é 2
é 3
é 4
é 5
é 6
é 7
é 8
é 9
é 10
é ana, viva mariana, viva mariana